1/
2/
oldversion1data
raw_data/
archive_data/
parsed_data/
processed_data/
app_meta.py
BrowserHistory20210415.json
BrowserHistory20211218.json
EnrichedBrowserHistory20210415.json
EnrichedBrowserHistory20211218.json
*.json
broana_env.py
app_env.py
bran_env.py
bran_env_new.py
bran_env1.py
bran_env_new1.py
bran_meta.py
bran_meta_new.py
*app_env*
.vscode
__pycache__/
.ipynb_checkpoints
